* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #EA2027;
}

.logo {
    padding: 36px 250px 10px 150px;
    
}

.Título {
    font-family: sans-serif;
    text-align: center;
    color: azure;
}

main {
    font-family: 'Times New Roman';
    text-align: center;
}

#navegacao {
    text-align: center;
}

#imgfundo {
    padding: 0px 0px 36px 0px;
}
.imgestado {
    box-shadow: 18px 21px 15px 5px rgba(0,0,0,0.2);
    padding-top: 37px;
    border-radius: 8%;
}

h2 {
    padding: 37px;
}


footer {
    background-color: #EA2027;
    text-align: center;
    padding: 37px;
}

p {
    font-family: 'Times New Roman';
    text-decoration: none;
}

